<div class="container-fluid">
  <div id="edit-account-btn"
          ng-controller="UserAccountAccessController"
          id"editMyAccountButton"
          class="btn btn-primary buzzbands-btn"
          ng-click="editMyAccount()">
      <img style="width:50px;" ng-src="{{user.image || 'app/img/img_missing.jpg'}}" />
  </div>

  <button id="buy-bands-btn"
          class="btn btn-primary buzzbands-btn buzzbands-pink-btn"
          ng-show="hasPermission('admin')"
          ui-sref="adminDashboard.shopBands">
    BUY BANDS
  </button>
  <div id="adminDashboardcontainer" class="row">
    <div class="col-md-2 col-xs-12" ng-controller="DashboardController" id="dashboard-controller">
      <img src="images/logo.png">
      <div class="col-sm-12 col-xs-12">
        <button ui-sref="analytics.adminDashboard"
                ng-class='{"navButtonActive":session.activeViewId==1,"navButton":session.activeViewId!=1}'
                ng-click='setPage(1)'
                ng-show="hasPermission('admin') || hasPermission('buzzbands_employee')">
            Overview
        </button>
      </div>
      <div class="col-sm-12 col-xs-12">
        <button ui-sref="venues.adminDashboard"
               ng-class='{"navButtonActive":session.activeViewId==2,"navButton":session.activeViewId!=2}'
               ng-click='setPage(2)'>
           Venues
       </button>
      </div>
      <div class="col-sm-12 col-xs-12">
        <button ui-sref="adminDashboard.promotions"
                ng-class='{"navButtonActive":session.activeViewId==3,"navButton":session.activeViewId!=3}'
                ng-click='setPage(3)'>
            Promotions
        </button><br>
        <button ui-sref="adminDashboard.newPromotion"
                class="add btn btn-primary"
                ng-show="session.activeViewId==3 && hasPermission('admin')">
            Add New
        </button>
      </div>
      <div class="col-sm-12 col-xs-12" ng-show="hasPermission('buzzbands_employee')">
        <button ui-sref="adminDashboard.users"
                ng-class='{"navButtonActive":session.activeViewId==4,"navButton":session.activeViewId!=4}'
                ng-click='setPage(4)'>
            Users
        </button><br/>
        <button ui-sref="adminDashboard.createUser"
                 class="add btn btn-primary"
                 ng-show="session.activeViewId==4"
                 ng-click="addUser()">
             Add New
         </button>
      </div>
    </div>

    <div  style="padding-top:15px;" class="col-md-10 col-xs-12" id="dashboard-content-wrapper">
      <div ui-view></div>
    </div>
  </div>
</div>
