<div id="overviewCards" class="col-sm-12">
  <div class="col-sm-3 overviewStatCard">
    <div class="overviewStat">
      <!-- active promotion count here. Following is temporary placeholder-->
      15
    </div>
    <div>
      Last Month
    </div>
    <div>
      Active Promotions
    </div>
  </div>
  <div class="col-sm-3 overviewStatCard">
    <div class="overviewStat">
      <!-- last month band order count here. Following is temporary placeholder -->
      1000
    </div>
    <div>
      Last month
    </div>
    <div>
      Bands Ordered
    </div>
  </div>
  <div class="col-sm-3 overviewStatCard">
    <div class="overviewStat">
      <!-- total active accounts here. Following is temporary placeholder -->
      5
    </div>
    <div>
      Total
    </div>
    <div>
      Active Accounts
    </div>
  </div>
</div>
<div id="quickStatsCardsContainer" class="col-sm-12">
  <div class="col-sm-2 quickStatCard">
    <div>
      TOTAL SCANS
    </div>
    <div>
      <!-- Total Scans here. Following is temporary placeholder-->
      1500
    </div>
    <div>
      <!-- change percentage since last month here. Following is temporary placeholder -->
      ^5%
    </div>
  </div>
  <div class="col-sm-2 quickStatCard">
    <div>
      TOP ACCOUNTS
    </div>
    <div>
      <!-- Total Scans here. Following is temporary placeholder -->
      10574
      <div>
        SCANS
      </div>
    </div>
    <div>
      <!-- Account name here. Following is temporary placeholder -->
      Temporary Account
    </div>
  </div>
  <div class="col-sm-2 quickStatCard">
    <div>
      TOP PROMOTIONS
    </div>
    <div>
      <!-- promotion carousel here. -->
    </div>
  </div>
</div>
