<link rel="stylesheet" href="app/stylesheets/dashboard.css">
 <link rel="stylesheet" href="app/stylesheets/navigation.css">
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300' rel='stylesheet' type='text/css'>
<div class="container-fluid">
  <div class="col-sm-12">
    <br>
    <button id="buyBandButton" class="pull-right btn" ui-sref="dashboard.shopBands">
      BUY BANDS
    </button>
    <div id="dashboardcontainer"class="container-fluid">
      <div class="col-sm-2 col-xs-12">
        <img style="width:50px;padding-top:15px;padding-bottom:100px;"src="images/logo.png"><br>
        <button  ui-sref="analytics.dashboard"
                 ng-class='{"navButtonActive":tog==1,"navButton":tog!=1}'
                 ng-click='tog=1'>Overview</button><br><br><br>
        <button  ui-sref="venues.dashboard"
                 ng-class='{"navButtonActive":tog==2,"navButton":tog!=2}'
                 ng-click='tog=2'>Accounts</button><br><br><br>
        <button ui-sref="promotions.dashboard"
                ng-class='{"navButtonActive":tog==3,"navButton":tog!=3}'
                ng-click='tog=3'>Promotions</button>
        <button ui-sref="dashboard.users"
                ng-class='{"navButtonActive":tog==4,"navButton":tog!=4}'
                ng-click='tog=4'
                ng-show="$session.user.role == 1 || true">Users</button>
      </div>
      <div  style="padding-top:15px;" class=" col-sm-10 col-xs-12">
        <div class="col-lg-12"ui-view></div>
      </div>
    </div>
  </div>
</div>
