
 <span style="color:white;font-size:50px;font-weight:100;font-family: 'Josefin Sans', sans-serif;">Overview</span> <br><hr><br>
 <div id="overviewCards" class="col-sm-12">
  <div class="col-sm-4 col-xs-4 overviewStatCard">
    <div class="overviewStat">
      <!-- active promotion count here. Following is temporary placeholder-->
      15
    </div>
    <div style="color:#888d8f;">
      Last Month
    </div>
     <div class="analyticstitle" style="font-size:20px;color:#BDBDBD;">
      Active Promotions
    </div>
  </div>
  <div class="col-sm-4 col-xs-4 overviewStatCard">
    <div class="overviewStat">
      <!-- last month band order count here. Following is temporary placeholder -->
      1000
    </div>
   <div style="color:#888d8f;">
      Last month
    </div>
     <div class="analyticstitle"  style="font-size:20px;color:#BDBDBD;">
      Bands Ordered
    </div>
  </div>
  <div class="col-sm-4 col-xs-4 overviewStatCard">
    <div class="overviewStat">
      <!-- total active accounts here. Following is temporary placeholder -->
      5
    </div>
     <div style="color:#888d8f;">
      Total
    </div>
     <div  class="analyticstitle"  style="font-size:20px;color:#BDBDBD;">
      Active Accounts
    </div>
  </div>
</div>
<div id="quickStatsCardsContainer" class="col-sm-12"><br><br>
  <div class="strike">
    <span>QUICK STATS</span><br><br><br>
</div>

  <div class="col-sm-4 ">

     <div class="quickStatCard">
         <span style="color:rgba(235,238,239,0.5);">  TOTAL SCANS</span>
   <br><br><br>


      <!-- Total Scans here. Following is temporary placeholder-->
         <span style="font-size:30px;color:white;">  1500

      <!-- change percentage since last month here. Following is temporary placeholder -->
             ^5%</span>
    </div>
  </div>


  <div class="col-sm-4 ">
    <div class="quickStatCard">
        <span style="color:rgba(235,238,239,0.5);">   TOP ACCOUNTS</span>
    <br><br><br>

      <!-- Total Scans here. Following is temporary placeholder -->
        <span style="font-size:30px;color:white;"> 10574</span>
     <br>
        <span style="color:rgba(235,238,239,0.5);">    SCANS</span><br><br>



      <!-- Account name here. Following is temporary placeholder -->
        <span style="color:white;">Temporary Account</span>
    </div>
  </div>

  <div class="col-sm-4 ">
  <div class="quickStatCard">
      <span style="color:rgba(235,238,239,0.5);">   TOP PROMOTIONS</span>
    </div>
    <div>
      <!-- promotion carousel here. -->
    </div>
  </div>
</div>
