
 <span ng-controller="AnalyticsController">
   <h1 class="font-audiowide font-white" id="dashboard-header">Overview</h1>
 </span>

 <div class="container-fluid" id="overviewCards">
   <div class="row">
    <div class="col-sm-4 col-xs-4 overviewStatCard">
      <div class="overviewStat">
        <!-- active promotion count here. Following is temporary placeholder-->
        {{(promotions | filter:{active:true}).length || 0}}
      </div>
     <div style="color:#888d8f;" class="font-audiowide font-white" >
        Last Month
      </div>
     <div class="analytics-title font-audiowide font-white">
        <h2>
          Active Promotions
        </h2>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 overviewStatCard">
      <div class="overviewStat">
        <!-- last month band order count here. Following is temporary placeholder -->
       {{bandsOrdered.length}}
      </div>
      <div style="color:#888d8f;" class="font-audiowide font-white">
        Last month
      </div>
      <div class="analytics-title font-audiowide font-white">
        <h2>
          Total Scans
        </h2>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 overviewStatCard">
      <div class="overviewStat">
      <!-- total active accounts here. Following is temporary placeholder -->
      <span class="status"> {{(activeAccounts | filter:{active:true}).length || 0}} </span>
      </div>
     <div style="color:#888d8f;" class="font-audiowide font-white">
      Total
      </div>
      <div class="analytics-title font-audiowide font-white">
          <h2>
            Active Accounts
          </h2>
      </div>
    </div>
  </div>
</div>
<div id="quickStatsCardsContainer">
  <div class="strike">
    <span>QUICK STATS</span>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 class="font-white font-audiowide">
        
        More Analytics Coming Soon!

      </h2>
    </div>
  </div>
</div>

</div>
