
 <span ng-controller="AnalyticsController">
   <h1 class="font-josefin font-white" id="dashboard-header">Overview</h1>
 </span>

 <div class="container-fluid" id="overviewCards">
   <div class="row">
    <div class="col-sm-4 col-xs-4 overviewStatCard">
      <div class="overviewStat">
        <!-- active promotion count here. Following is temporary placeholder-->
        {{(promotions | filter:{active:true}).length || 0}}
      </div>
     <div style="color:#888d8f;" class="font-josefin font-white" >
        Last Month
      </div>
     <div class="analytics-title font-josefin font-white">
        <h2>
          Active Promotions
        </h2>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 overviewStatCard">
      <div class="overviewStat">
        <!-- last month band order count here. Following is temporary placeholder -->
       {{bandsOrdered.length}}
      </div>
      <div style="color:#888d8f;" class="font-josefin font-white">
        Last month
      </div>
      <div class="analytics-title font-josefin font-white">
        <h2>
          Bands Ordered
        </h2>
      </div>
    </div>
    <div class="col-sm-4 col-xs-4 overviewStatCard">
      <div class="overviewStat">
      <!-- total active accounts here. Following is temporary placeholder -->
      <span class="status"> {{(activeAccounts | filter:{active:true}).length || 0}} </span>
      </div>
     <div style="color:#888d8f;" class="font-josefin font-white">
      Total
      </div>
      <div class="analytics-title font-josefin font-white">
          <h2>
            Active Accounts
          </h2>
      </div>
    </div>
  </div>
</div>
<div id="quickStatsCardsContainer" class="col-sm-12"><br><br>
  <div class="strike">
    <span>QUICK STATS</span><br><br><br>
</div>

<div class="col-sm-4 ">
   <div class="quickStatCard">
      <span style="color:rgba(235,238,239,0.5);" class="font-josefin font-white">  TOTAL SCANS</span>

       <nvd3 options="options" data="data" class="with-3d-shadow with-transitions"></nvd3>
    </div>
  </div>
  <div class="col-sm-4 ">
    <div class="quickStatCard">
        <span style="color:rgba(235,238,239,0.5);" class="font-josefin font-white">   TOP ACCOUNTS</span>
    <br><br><br>

      <!-- Total Scans here. Following is temporary placeholder -->
        <span style="font-size:70px;color:white;" class="font-josefin font-white"> 10574</span>
     <br>
        <span style="color:rgba(235,238,239,0.5);" class="font-josefin font-white">    SCANS</span><br><br>



      <!-- Account name here. Following is temporary placeholder -->
        <span style="color:white;">Temporary Account</span>
    </div>
  </div>

  <div class="col-sm-4 ">
  <div class="quickStatCard">
      <span style="color:rgba(235,238,239,0.5);" class="font-josefin font-white">   TOP PROMOTIONS</span>
    </div>
    <div>
      <!-- promotion carousel here. -->
    </div>
  </div>
</div>
