<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Icons Filling Effect</title>
</head>
<body>
	<header>
		<h1>Icons Filling Effect</h1>
	</header>
	
	<ul class="cd-container">
		<li class="cd-service cd-service-divider"></li>

		<li class="cd-service cd-service-1">
			<h2>Raise Awareness</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!</p>
		</li> <!-- cd-service -->

		<li class="cd-service cd-service-2">
			<h2>Through a bracelet</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!</p>
		</li> <!-- cd-service -->

		<li class="cd-service cd-service-3">
			<h2>But this isn't a regular bracelet</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis pariatur tenetur quod veritatis nulla aspernatur architecto! Fugit, reprehenderit amet deserunt molestiae ut libero facere quasi velit perferendis ullam quis necessitatibus!</p>
		</li> <!-- cd-service -->

		<li class="cd-service cd-service-4">
			<h2>As a promotor</h2>
			<p>You have access to your own dashboard where you can...<ul>
			    <li>Create Accounts</li>
			    <li>Create Promotions </li>
			    <li>Measure Performance</li>
			</ul></p>
		</li> <!-- cd-service -->

		<li class="cd-service cd-service-divider"></li>
	</ul> <!-- cd-services -->

	<footer></footer>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>