<div class="container">
  <div class="row">
    <table class="col-sm-6 table table-striped table-condensed">
      <thead>
        <tr>
          <td>Name</td>
          <td>Address</td>
          <td>City</td>
          <td>State</td>
          <td>Zip</td>
          <td>Active</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="venue in venueList">
          <td><a ng-click="showPromotionsList(venue.id)">{{venue.name}}</a></td>
          <td>{{venue.address}}</td>
          <td>{{venue.city}}</td>
          <td>{{venue.state}}</td>
          <td>{{venue.zip_code}}</td>
          <td>
            <input type="checkbox" ng-model="venue.active" />
          </td>
          <td>
            <button ng-click="editVenue(venue.id)">Edit</button>
            <button ng-click="vm.confirmClicked = false; vm.cancelClicked = false"
                    cancel-button-type="default"
                    confirm-button-type="danger"
                    on-cancel="vm.cancelClicked = true"
                    on-confirm="deleteVenue(venue.id)"
                    placement="bottom"
                    cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;"
                    confirm-text="Yes &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;"
                    message="Are you really &lt;b&gt;sure&lt;/b&gt; you want to do this?"
                    title="Are you sure?"
                    mwl-confirm=""
                    class="btn btn-default ng-binding ng-isolate-scope">
                Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <button class="btn btn-default" tooltip="New Venue" ng-click="addVenue()">Create Venue</button>
  </div>
</div>
