<div class="container">
  <div class="row">
    <table class="col-sm-6 table table-striped table-condensed">
      <thead>
        <tr>
          <td>Name</td>
          <td>Address</td>
          <td>City</td>
          <td>State</td>
          <td>Zip</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="venue in venueList">
          <td>{{venue.name}}</td>
          <td>{{venue.address}}</td>
          <td>{{venue.city}}</td>
          <td>{{venue.state}}</td>
          <td>{{venue.zip_code}}</td>
          <td>
            <button ng-click="editVenue(venue.id)">Edit</button>
            <button ng-click="deleteVenue(venue.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <button class="btn btn-default" tooltip="New Venue" ng-click="addVenue()">Create Venue</button>
  </div>
</div>
