<link rel="stylesheet" href="app/stylesheets/landing.css">
<link rel="stylesheet" type="text/css" href="app/javascript/third-party/PageStackNavigation/css/component.css" />
<script src="app/javascript/third-party/PageStackNavigation/js/modernizr-custom.js"></script>
<link rel="stylesheet" type="text/css" href="app/javascript/third-party/FullWidthTabs/css/component.css" />
<link rel="stylesheet" href="app/javascript/third-party/timeline/css/style.css"> <!-- Resource style -->


<nav class="pages-nav"></nav>

<div class="pages-stack">
  	<!-- page -->
  	<div class="page" id="page-home">
    	<!-- Blueprint header -->
    	<header id="intro" class="bp-header cf">
      	<h1 class="bp-header__title font-josefin">Bands That Attract and Buzz</h1>
      </header>
    	<div style="background-color:white;padding:20px;position:absolute;width:100%;left:0;right:0;bottom:0;" class="container-fluid">
      	<div class="col-lg-3">
        	<div class="container-btn-signup">
	          <button class="btn-login btn btn-default"
										ng-morph-modal="signInSettings"
										ng-click="showLogin()"
										ng-show="!loginViewVisible">
									Sign In
						</button>
	        </div>
	      </div>

	      <div style="color:black;text-align:center;font-size:23px;"
						 class="col-lg-6">
						<p class="font-josefin">Engage With Your Audience Like Never Before!</p>
				</div>
	      <div  class="col-lg-3">
	        <div class="container-btn-signup">
	          <button class="btn-signup btn btn-default"
										ng-morph-modal="signUpSettings"
										ng-click="showRegistration()"
										ng-show="!registerViewVisible">
									Sign Up
						</button>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- /page -->
	  <div class="page" id="page-docu">
      <header id="dashboard">

		    <div class="container">
		      <div id="tabs" class="tabs">
		        <nav id="myWorkContent">
		          <ul>
		            <li><a href="#section-1"><i class="fa fa-thumb-tack"></i><span>Venues</span></a></li>
		            <li><a href="#section-2"><i class="fa fa-cloud-upload"></i><span>Upload</span></a></li>
		            <li><a href="#section-3"><i class="fa fa-calendar-check-o"></i><span>Schedule</span></a></li>
		            <li><a href="#section-4"><i class="fa fa-users"></i><span>Team</span></a></li>
		            <li><a href="#section-5"><i class="fa fa-circle-o-notch"></i><span> bands</span></a></li>
		          </ul>
		        </nav>
		        <div  class="content">
		          <section id="section-1">
		            <div class="mediabox">
		              <h3>Pea Sprouts Fava Soup</h3>
		              <p>Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea.</p>
		            </div>
		          </section>
		          <section id="section-2">


		            <div class="mediabox">

		              <h3>Ricebean Rutabaga</h3>
		              <p>Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. </p>
		            </div>
		          </section>
		          <section id="section-3">
		            <div class="mediabox">
		              <h3>Green Tofu Wrap</h3>
		              <p>Pea horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut wasabi tofu broccoli mixture soup.</p>
		            </div>
		          </section>
		          <section id="section-4">

		            <div class="mediabox">
		              <h3>Swiss Celery Chard</h3>
		              <p>Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori. </p>
		            </div>
		          </section>
		          <section id="section-5">

		            <div class="mediabox">
		              <h3>Red Tofu Wrap</h3>
		              <p>Green horseradish azuki bean lettuce avocado asparagus okra. Kohlrabi radish okra azuki bean corn fava bean mustard tigernut wasabi tofu broccoli mixture soup.</p>
		            </div>
		          </section>
		        </div>
		      </div>
		    </div>
      </header>
  </div>
</div>

<!-- /pages-stack -->
<!-- <button class="menu-button"><span>Menu</span></button> -->
<script src="app/javascript/third-party/PageStackNavigation/js/classie.js"></script>
<script src="app/javascript/third-party/PageStackNavigation/js/main.js"></script>

<script src="app/javascript/third-party/FullWidthTabs/js/cbpFWTabs.js"></script>
<script>
  new CBPFWTabs( document.getElementById( 'tabs' ) );
</script>
<script src="app/javascript/third-party/timeline/js/main.js"></script> <!-- Resource jQuery -->
