<link rel="stylesheet" href="app/stylesheets/landing.css">

  	<!-- page -->
  	<div class="page" id="page-home">
    	<!-- Blueprint header -->
    	<header id="intro" class="bp-header cf">
      	<h1 class="bp-header__title font-audiowide">Bands That Attract and Buzz</h1>
      </header>
    	<div style="background-color:white;padding:20px;position:absolute;width:100%;left:0;right:0;bottom:0;" class="container-fluid">
      	<div class="col-lg-3">
        	<div class="container-btn-signup">
	          <button class="btn-login btn btn-default"
										ng-morph-modal="signInSettings"
										ng-click="showLogin()"
										ng-show="!loginViewVisible">
									Sign In
						</button>
	        </div>
	      </div>

	      <div style="color:black;text-align:center;font-size:23px;"
						 class="col-lg-6">
						<p class="font-audiowide">Engage With Your Audience Like Never Before!</p>
				</div>
	      <div  class="col-lg-3">
	        <div class="container-btn-signup">
	          <button class="btn-signup btn btn-default"
										ng-morph-modal="signUpSettings"
										ng-click="showRegistration()"
										ng-show="!registerViewVisible">
									Sign Up
						</button>
	        </div>
	      </div>
	    </div>
	  </div>
