<form ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}">

  <div class="form-group">
    <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control" placeholder="Password">
  </div>

  <div class="form-group">
    <input type="password"
           name="password_confirmation"
           ng-model="changePasswordForm.password_confirmation"
           required="required"
           class="form-control"
           placeholder="Confirm password">
  </div>
  <button type="submit" class="btn btn-primary buzzbands-btn buzzbands-pink-btn" >
    <i class="fa fa-save"></i>
    Update password
  </button>
</form>
