<img class=" col-lg-12 col-xs-12 img-responsive"
     id="bandsimg"
     ng-src="{{order.color.href || bandColors[0].href}}" />
<div class="col-sm-12" style="color:orange" >
  <form style="text-align:center;"
        name="orderForm"
        ng-submit="placeOrder(order)"
        novalidate>
    <div ng-model="order.color">
      <span  class="col-lg-2 col-md-2 col-xs-2"
             ng-repeat="bandColor in bandColors"
             ng-click="order.color=bandColor.id">
          <div style="cursor:pointer;" id="{{bandColor.id}}">
            <img ng-src="bandColor.href">
          </div>
      </span>
    </div>
    <div class="col-sm-12">
      <select style="margin-top:30px;"
              ng-options="venue.id as venue.name for venue in venues"
              ng-model="order.venue_id"
              id="venueFilter">
        <option value="" selected>All Venues</option>
      </select>
    </div>
    <div class="col-sm-12">
      <select style="margin-top:200px;max-width:400px;"
              ng-model="package"
              class="form-control"
              ng-options="bandPackage.count for bandPackage in packages"
              ng-selected="{{bandPackage == package}}"
              ng-required >
      </select>
      <div style="color:white;text-align:center;">
        ${{package.price || 0.00}}
      </div>
    </div>
  <button id="buyBandButton"
          data-name="Band Package"
          class="btn btn-primary"
          ng-disabled="orderForm.$invalid"
          type="submit">
      Buy
    </button>
  </form>
</div>
