
<!-- <div class="jumbotron">
	<div class="container-fluid">
		<div class="row"></div>
	</div>
</div> -->
<div class="container-fluid" id="packages-container">
	<div class="row">
		<div class="col-md-12 text-center">
			<img class="img-responsive margin-center" src="https://placehold.it/800x350">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
				<h1 class="font-white font-audiowide">HypeDrive connects venues directly with their patrons in a way like no other.</h1>
				<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<h3 class="font-white font-autowide">
				Contact us today at <a href="mailto:sales@hypedrive.io">sales@hypedrive.io</a>
				to find out how we can help drive customers to your business.
			</h3>
		</div>
	</div>
<!-- 	<div class="row">
		<div class="col-md-4">
			<div class="package-card text-center">
				<h2 class="font-white font-audiowide">
					Maecenas laoreet massa eget.
				</h2>
				<h3>
					Sed rhoncus mauris quis neque tincidunt laoreet. Pellentesque vulputate augue id mauris pellentesque faucibus.
				</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="package-card text-center">
				<h2 class="font-white font-audiowide">
					Massa eget risus viverra posuere.
				</h2>
				<h3>
					Nulla malesuada magna vestibulum odio interdum pulvinar. Sed eu nisi molestie, sollicitudin orci et, sagittis mauris.
				</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div class="package-card text-center">
				<h2 class="font-white font-audiowide">
					Proin est magna
				</h2>
				<h3>
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
				</h3>
			</div>
		</div>
	</div> -->
</div>
