

#dashboardcontainer{

text-align: left;
}

/*QUERIES*/
@media only screen and (min-width:0px) and (max-width: 768px)  {
    #dashboardcontainer{
    text-align:center;
    } 
    
}

.overviewStat{
    text-align: center;
    font-size: 70px;
    font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;

}

.overviewStatCard{
text-align: center;
        font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
}


#quickStatsCardsContainer{
text-align: center;
}


.strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
    }

    .strike > span {
        position: relative;
        display: inline-block;
        color:#888d8f;
                font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    }
	
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
        background: white;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }

#buyBandButton{
    color:white;
background-color:#de519b;
  font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
}



.quickStatCard{
background-color:#de519b;

      font-weight: 100;
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    min-height: 150px;

}