table {
  color: #5ab553;
  background-color:grey;
}

thead {
  background-color: grey;

}
.table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #5f7387;
  border: 0;
}

.table-striped>tbody>tr:nth-child(even)>td {
  background-color: #434e66;
  border: 0;
}

.add-button {
  height: 5%;
  font-size: .7em;
  background-color: #5f7387;
}

#venueCreatePanel{
color:white;
    text-align: center;
    font-weight:100;
    font-family: 'Josefin Sans', sans-serif;
}

.form-control{
    max-width: 500px;
    margin-top:5px;
background-color: #3b4454;
    border-radius: 0%;
    border:none;
    color:#808266;
    margin: auto;
    color:white;
}

.addphoto{
padding: 5px 15px;
    margin-top: 5px;
    border-radius: 1em;
    background-color: #ffffff;
    color:#4BBA4B;
}

.text-danger{
color:#de519b;
}

.status{

  color:White;


}
.statusbracket{
  color:#de519b;
}

.saveButton{

color:#808266;
border-color:white;
background: none;
}

.saveButton:hover{
border-color:white;
  background-color: #242831;
}

.table-responsive{
  overflow-y: scroll !important;
}


/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #4BBA4B;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: white;
}
.tooltip-inner{
color:white;
border:2px solid white;
}
input:focus {
    outline:none;
}


.col-sm-12{
margin-bottom: 10px;
}


.container > header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

.fa-times-circle ,.danger{
color:red;

}
