@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300,100,600);

$josefin:  'Josefin Sans', sans-serif;

.font-josefin{
	font-family: $josefin;
	font-weight: 300;
}

.font-white{
	font-color: #FFFFFF;
}