@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700,300,100,600);
@import url(https://fonts.googleapis.com/css?family=Audiowide);

$audiowide:  'Josefin Sans', sans-serif;
$audiowide:  'Audiowide', sans-serif;

.font-audiowide{
	font-family: $audiowide;
	font-weight: 300;
}

.font-white{
	font-color: #FFFFFF;
}