

	<div class="row" >
		<div id="userCreatePanel" class="col-md-10">
      <span style="color:#808266;font-size:30px;">EDIT USER</span><br><br>
			<div style="color:white;" class="col-sm-12">
				{{user.email}}
			</div>
			<form name="userForm"
						enctype="multipart/form-data"
						ng-submit="updateUser(userForm)"
						novalidate>
							<div class="col-sm-12">
								<span style="color:white;"class="col-sm-3">
									Avatar Photo:
								</span>
								<span class="col-sm-2">
									<img ng-src="{{user.image != null ? user.image : 'app/img/missing_user.png'}}" />
								</span><br>
								<div  filepicker api-key="AapVeFhkrSlOTwi51kt8Cz"
											pickerclass="btn addphoto"
											multiple="false" mimetype="*"
											callback="previewImage(file)">
									 <i  style="margin-right:10px;"class="addphoto fa fa-camera"></i>
										Add Photo
								</div>
							<div ng-show="hasPermission(2)">
								<button class="btn">Send password reset email</button>
							</div>
							<div ng-show="$session.user.id==user.id">
						    <div class="form-group">
						      <input placeholder= "Password"
						              type="password"
						              name="password"
						              id="password"
						              ng-model="user.password"
						              class="form-control"
						              required
						              minlength="8"
													ng-show="$session.user.id==user.id"/>
						      <div ng-messages="userForm.password.$error" ng-if="userForm.$submitted">
						        <p ng-message="minlength">
						            Password must be at least 8 characters.
						        </p>
						      </div>
						    </div>
						    <div class="form-group">
						      <input placeholder= "Confirm Password"
						              type="password"
						              name="confirmation_password"
						              id="confirmation_password"
						              ng-model="user.confirmation_password"
						              class="form-control"
						              required
													ng-show="$session.user.id==user.id" />
						      <div ng-messages="userForm.confirmation_password.$error" ng-if="userForm.$submitted">
						        <p ng-message="required" >
						              Confirmation password is required.
						        </p>
						        <p 	ng-if="registrationForm.password != userForm.confirmation_password" >
						              Passwords do not match.
						        </p>
						      </div>
								</div>
							</div>
						<div class="col-sm-12">
							Active?
							<input type="checkbox" ng-model="user.active" ng-disabled="!hasPermission(2)" />
						</div>
						<div class="actions col-md-12">
							<button type="submit" class="btn btn-primary" >
								<i class="fa fa-save"></i>
								Save
							</button>
						</div>
			</form>
			<form ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}">
			  <div class="form-group">
			    <label>password</label>
			    <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control" placeholder="Password">
			  </div>

			  <div class="form-group">
			    <label>password confirmation</label>
			    <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control" placeholder="Confirm password">
			  </div>

				<div class="actions col-md-12">
					<button type="submit" class="btn btn-primary" >
						<i class="fa fa-save"></i>
						Reset password
					</button>
				</div>
			</form>
		</div>
