<div class="container-fluid">
	<div class="row">
		<h1 class="font-white font-audiowide">{{user.email}}</h1>
		<div class="col-md-3">
			<img style="max-width:50%;" ng-src="{{user.image != null ? user.image : 'app/img/missing_user.png'}}" />

			<form name="userForm"
						enctype="multipart/form-data"
						ng-submit="updateUser(user)"
						novalidate>
				<div  filepicker
							api-key="AapVeFhkrSlOTwi51kt8Cz"
							pickerclass="btn btn-primary buzzbands-btn margin-top-15"
							multiple="false"
							mimetypes="'image/*'"
							callback="previewImage(file)">
			  <i  style="margin-right:10px;"
			  		class="fa fa-camera"></i>
							Add Photo
				</div>
				<div class="form-group" ng-show="$session.user.email != user.email && hasPermission('buzzbands_employee')">
					<select ng-options="role.name as role.name for role in roles "
									ng-selected="user.role == role.name"
									ng-model="user.role">
						<option value="">Select role</option>
					</select>
				</div>
				<div class="form-group" ng-show="user.email != $session.user.email">
					Active?
					<input type="checkbox" ng-model="user.active" ng-disabled="!hasPermission('buzzbands_employee')" />
				</div>
				<button type="submit" class="btn btn-primary buzzbands-btn buzzbands-pink-btn margin-top-15" >
					<i class="fa fa-save"></i>
					Save
				</button>
			</form>
		</div>
		<div class="col-md-3">
			<form ng-submit="updatePassword()" role="form" ng-init="changePasswordForm = {}" ng-show="$session.user.email == user.email">
			  <div class="form-group">
			    <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control" placeholder="Password">
			  </div>
			  <div class="form-group">
			    <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required" class="form-control" placeholder="Confirm password">
			  </div>
			  <button type="submit" class="btn btn-primary buzzbands-btn buzzbands-pink-btn" >
					<i class="fa fa-save"></i>
					Reset password
				</button>
				<div ng-show="hasPermission('buzzbands_employee')"><br>
					<button class="btn btn-primary buzzbands-btn">Send password reset email</button>
				</div>
			</form>
		</div>
	</div>
</div>
