<h1 class="font-white font-josefin">Accounts</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td></td>
      <td>Email</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in userList">
      <td>
        <img style="width:50px;" ng-src="{{user.image || 'app/img/img_missing.jpg'}}" />
      </td>
      <td>{{user.email}}</td>
      <td>
        {{user.role || 'Not Set'}}
      </td>
      <td>{{user.active}}</td>
      <td>
        <button class="btn btn-primary"
                ng-click="editUser(user.id)"
                ng-show="hasPermission('buzzbands_employee')">Edit</button>
        <button class="btn btn-danger"
                ng-click="delete(user.id)"
                ng-show="hasPermission('buzzbands_employee')">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
