<div class="container-fluid">
  <div class="row headerRow">
    <h1 class="font-audiowide">Users</h1>
  </div>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <td></td>
      <td>Email</td>
      <td>role</td>
      <td>Active?</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in userList">
      <td>
        <img style="width:50px;" ng-src="{{user.image || 'app/img/missing_user.png'}}" />
      </td>
      <td>{{user.email}}</td>

      <td>
        {{user.role || 'Not Set'}}
      </td>
      <td>
        <i ng-show="user.active" class="fa fa-check" />
        <i ng-show="!user.active" class="fa fa-times" style="color: red" />
      </td>
      <td>
        <button class="btn btn-primary buzzbands-btn"
                ng-click="editUser(user.id)"
                ng-show="hasPermission('hypedrive_employee') && $session.user.id == user.id">Edit</button>
        <button class="btn btn-danger buzzbands-btn buzzbands-pink-btn"
                ng-click="activate(user.id)"
                ng-show="hasPermission('hypedrive_employee') && !user.active">Activate</button>
        <button class="btn btn-danger buzzbands-btn buzzbands-pink-btn"
                ng-click="delete(user.id)"
                ng-show="hasPermission('hypedrive_employee') && user.active">Deactivate</button>
      </td>
    </tr>
  </tbody>
</table>
