<div class="container" ng-controller="UserAuthController">
  <div class="row col-sm-12">
    Header Text Here
      <button>Learn More</button>
  <div ng-morph-modal="settings">    <button class="btn btn-default" ng-click="showLogin()" ng-show="!loginViewVisible">Sign In</button></div>
      <button class="btn btn-default" ng-click="showRegistration()" ng-show="!registerViewVisible">Sign Up</button>
  </div>
  <div class="row text-center">
    <div class="col-sm-6">

    </div>
    <div class="col-sm-6">
  
    </div>
  </div>
</div>
