

	<div class="row" >
		<div id="userCreatePanel" class="col-md-10">
			<div style="color:white;" class="col-sm-12">

			</div>
			<form name="userForm"
						enctype="multipart/form-data"
						ng-submit="createUser(user, venue_id)"
						novalidate
						ng-init="user = {}">
							<div class="col-sm-12">
								<img style="max-width:50%;" ng-src="{{user.image != null ? user.image : 'app/img/missing_user.png'}}" />

								<div  filepicker api-key="AapVeFhkrSlOTwi51kt8Cz"
											pickerclass="btn addphoto"
											multiple="false"
											mimetypes="'image/*'"
											callback="previewImage(file)">
									 <i  style="margin-right:10px;"class="addphoto fa fa-camera"></i>
										Add Photo
								</div>
							</div>
							<div class="form-group">
								<label>User Email </label>
								<input type="text" class="form-control" placeholder="Email" ng-model="user.email"/>
							</div>
							<div class="form-group" ng-show="$session.user.email != user.email">
								<select class="form-control" ng-options="role.id as role.name for role in roles | filter:lessThan('id',$session.user.role) " ng-selected="user.role.id == role.id" ng-model="user.role">
									<option value="">Select role</option>
								</select>
							</div>
							<div class="form-group">
						    <input type="password" name="password" ng-model="user.password" required="required" class="form-control" placeholder="Password">
						  </div>

						  <div class="form-group">

						    <input type="password" name="password_confirmation" ng-model="user.password_confirmation" required="required" class="form-control" placeholder="Confirm password">
						  </div>
							<div class="form-group">
								<button type="button" class="form-control" ng-click="generatePassword()">Generate Password </button>
							</div>
						<div class="form-group">
							<select ng-options="venue.id as venue.name for venue in venues" ng-model="venue_id" class="form-control">
								<option value="">Select Venue</option>
							</select>
						</div>
						<div style="text-align:center;" class="col-lg-12 actions">
							<button type="submit" class="saveButton btn btn-primary" >
								<i class="fa fa-save"></i>
								Save
							</button>
						</div>
			</form>
		</div>
