<div ng-switch="promoPanel">

<div ng-switch-when="create">
  <div ui-view="promotion.new@promotions.dashboard"></div>
</div>
<div ng-switch-when="index" class="container col-sm-12">
  <div class="row">
    Promotions
    <button class="btn btn-primary" ng-click="createPromotion()">Add new</button>
  </div>
  <div class="row">
    <div class="col-sm-3">
      All
      <span>({{promotionList.length || -1}})</span>
    </div>
    <div class="col-sm-3">
      Active
      <span>({{($scope.promotionList | filter:active==0).length || -1}})</span>
    </div>
    <div class="col-sm-3">
      Disabled
      <span>({{($scope.promotionList | filter:active==1).length || -1}})</span>
    </div>
  </div>
  <div class="row">
    <button> Apply </button>
    <select id="venueFilter">
      <option selected>Select Venue</option>
    </select>
    <button id="listButton">list</button>
    <button id="tileButton">tile</button>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td>Active</td>
            <td>Name</td>
            <td>Image</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Venues</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="promo in promotionList">
            <td><input type="checkbox" ng-model="promo.active"/></td>
            <td>{{promo.name}}
                <br/>
                {{promo.description}}</td>
            <td>{{promo.ad_location}}</td>
            <td>{{promo.start_time}}</td>
            <td>{{promo.end_time}}</td>
            <td>{{promo.venue_id}}</td>
            <td>
              <button>Edit</button>
              <button>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
