  <div class="container col-sm-7">
    <div style="color:white;font-size:40px;font-Family:arial;font-Family: 'Josefin Sans', sans-serif;
  font-weight: 100;" class="col-sm-12">
      Promotions
      <button style="  background-color: #3b4454;
  border: none;
  color: #4BBA4B;
  font-size: 10px; "class="btn btn-primary" ng-click="createPromotion()">Add new</button>
    </div>
  <div class="status col-sm-12">
        All
          <span style="color:#de519b;">(</span>{{promotionList.length || -1}}<span style="color:#de519b;">)</span>
        Active
          <span style="color:#de519b;">(</span>{{($scope.promotionList | filter:active==0).length || -1}}<span style="color:#de519b;">)</span>
        Disabled
          <span style="color:#de519b;">(</span>{{($scope.promotionList | filter:active==1).length || -1}}<span style="color:#de519b;">)</span>
      </div>
      <select style="margin-top:30px;" id="venueFilter">
        <option selected>Select Venue</option>
      </select>
      <button style="background-color:#4BBA4B;border-color:transparent;color:white;"> Apply </button>
      <button style="background-color:red;color:white;border-color:transparent;">Delete</button>
    <div style="color:white;" class="col-sm-8">
      <div class="col-sm-4">
        <table class="table table-striped">
          <thead style="color:white;">
            <tr>
              <td>Active</td>
              <td>Title</td>
              <td>Image</td>
              <td>Start Time</td>
              <td>End Time</td>
              <td>Account</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="promo in promotionList">
              <td><input type="checkbox" ng-model="promo.active"/></td>
              <td>{{promo.name}}
                  <br/>
                  {{promo.description}}</td>
              <td><img class="img-responsive"ng-src="{{promo.ad_location}}"></td>
              <td>{{promo.start_time | date:'MM/dd/yyyy @ h:mma'}}</td>
              <td>{{promo.end_time | date:'MM/dd/yyyy @ h:mma'}}</td>
              <td>{{promo.venue_id}}</td>
              <td>
                <button ng-click="editPromotion(promo.id)" class="edit">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  </div>
