    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">

        <h1 class="font-white font-josefin">Promotions</h1>
        <button
              class="btn btn-primary buzzbands-btn buzzbands-pink-btn"
              ng-click="createPromotion()"
              ui-sref="adminDashboard.newPromotion"
              ng-show="hasPermission('admin') || hasPermission('buzzbands_employee')">
          + New Promo
        </button>
      </div>
    </div>
    <div class="row">
      <div clas="col-md-12">
        <div class="alert alert-success promotion-add-success">
           The promotion (promotion name) was created successfully. <a href="#">Edit Promo</a> or <a href="#">add another</a>.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        All
          <span style="color:#de519b;">(</span>
          {{promotionList.length || 0}}
          <span style="color:#de519b;">)</span>

        Active
          <span style="color:#de519b;"> ( </span>
          {{($scope.promotionList | filter:active==0).length || 0}}
          <span style="color:#de519b;"> ) </span>

        Disabled
          <span style="color:#de519b;"> ( </span>
          {{($scope.promotionList | filter:active==1).length || 0}}
          <span style="color:#de519b;"> ) </span>

          <button class="btn btn-primary buzzbands-btn"
                  ng-click="visibleTab='thumbnail'">
            Thumbnail
          </button>

          <button class="btn btn-primary buzzbands-btn"
                  ng-click="visibleTab='list'">
            List
          </button>

          <select class="form-control"
                  style="display: inline-block"
                  ng-options="venue.id as venue.name for venue in venues"
                  ng-model="promotion.venue_id"
                  id="venueFilter">
              <option value="" selected>All Venues</option>
          </select>
          <input type="text" ng-model="promotionSearch" placeholder="Search Promotions..." >
      </div>
    </div>

  <div ng-switch="visibleTab">
    <div ng-switch-when="list">
      <table class="table-responsive table table-striped" >
        <thead style="color:white;">
          <tr>
            <td ng-show="hasPermission('buzzbands_employee')">Selected</td>
            <td>Active</td>
            <td>Title</td>
            <td>Promotion</td>
            <td>Start Time</td>
            <td>End Time</td>
            <td>Venue</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="promo in promotionList | orderBy:active:true | filter:{venue_id : promotion.venue_id || undefined} | filter: promotionSearch">
            <td ng-show="hasPermission('buzzbands_employee')">
              <input type="checkbox" ng-click="promo.selected=!promo.selected" />
            </td>
            <td>
              <input type="checkbox" ng-model="promo.active"/>
            </td>
            <td>{{promo.name}}
                <br/>
                {{promo.description}}</td>
            <td><img style="max-width:100px;"class="img-responsive" ng-src="{{promo.ad_location ? promo.ad_location : 'images/venue_img_missing.jpg'}}"></td>
            <td>{{promo.start_time | date:'MM/dd/yyyy @ h:mma'}}</td>
            <td>{{promo.end_time | date:'MM/dd/yyyy @ h:mma'}}</td>
            <td>
              <img style="width:100px;"
                   ng-src="{{getVenueName(promo.venue_id) || 'app/img/missing_user.png'}}" />
            </td>

            <td>
              <button ng-click="editPromotion(promo.id)"
                      class="btn btn-primary buzzbands-btn edit"
                      ng-show="hasPermission('admin') || hasPermission('buzzbands_employee')">
                Edit
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ul masonry id="thumbnail" class="grid" ng-switch-when="thumbnail">
      <li class="masonry-brick" ng-repeat="promo in promotionList | orderBy:active:true | filter:{venue_id : promotion.venue_id} | filter:promotionSearch">

  					<figure class="promo-wrapper">
              <img id="promotion"
                   class="promotion img-responsive"
                   src="{{promo.ad_location ? promo.ad_location : 'images/venue_img_missing.jpg'}}" />
               <figcaption>
  							<h3 class="font-josefin">{{promo.name}}</h3>
  							<button class="edit btn btn-primary buzzbands-btn"  ng-click="editPromotion(promo.id)" >Edit</button>
  						</figcaption>
            </figure>

      </li>
    </ul>

  </div>
</div>
