<div class="container">
	<div class="row" >
		<div id="promotionCreatePanel" class="col-md-10">
			<form name="promotionForm"
						enctype="multipart/form-data"
						ng-submit="createNewPromotion(promotionForm.$valid)"
						novalidate>
				<div class="col-md-12">
					<div class="col-md-5">
						<div class="field">
							<input  class="form-control"
											type="text"
											name="name"
											ng-model="promotion.name"
											id="newPromotionName"
											placeholder="Name"
											required
											minlength="3"
											maxlength="250"/>
							<div ng-messages="promotionForm.name.$error" ng-if="promotionForm.$valid" class="text-danger">
								<p ng-message="required">Name is required.</p>
								<p ng-message="minlength">Name must be at least 3 characters</p>
								<p ng-repeat="validation in serverValidations['errors']">{{validation[0]}}</p>
							</div>
						</div>
						<div class="text-center field"
									name="cover_image"
									ngf-drop
									ngf-change="previewImage($files)"
									ng-model="promotion.cover_img"
									ngf-drop-available="dropSupported"
									ngf-select="true"
									ngf-accept="image/*">
										<img id="promotionCreationImage"
													ngf-src="file"
													ng-src="images/No_Image_Available.png" />
						</div>
					</div>
				</div>

				<div class="actions col-md-12">
					<button class="btn btn-primary pull-right"
								  type="submit"
									ng-disabled="promotionForm.$invalid">
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
