<h1 class="font-white font-audiowide">Accounts</h1>
<!-- <button ui-sref="adminDashboard.createAccount"
                 class="btn btn-primary buzzbands-btn buzzbands-pink-btn"
                 ng-click="addAccount()">
             + New Account
 </button> -->
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <td></td>
        <td>Email</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="account in accountList">
        <td>
          <img style="width:50px;" ng-src="{{user.image || 'app/img/img_missing.jpg'}}" />
        </td>
        <td>{{account.user.email}}</td>
        <td>
          <i ng-show="user.active" class="fa fa-check" />
          <i ng-show="!user.active" class="fa fa-times" style="color: red" />
        </td>
        <td>
          <button class="btn btn-primary buzzbands-btn"
                  ng-click="edit(account.id)"
                  ng-show="false && hasPermission('buzzbands_employee')">Edit</button>
          <button class="btn btn-danger buzzbands-btn buzzbands-pink-btn"
                  ng-click="delete(account.id)"
                  ng-show="hasPermission('buzzbands_employee')">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
