<div ng-contoller="UserAuthController">
  <form role="form"
        ng-init="loginForm = {}"
        ng-submit="signIn(userLogin.$valid)"
        name="userLogin" novalidate>
        <input type="email"
               name="email"
               id="userFormEmailField"
               ng-model="loginForm.email"
               required="required"
               class="form-control"
               placeholder="Email" />
        <div ng-messages="userLogin.email.$error" ng-if="userLogin.$submitted">
          <p class="text-danger" ng-message="required">Email is required.</p>
          <p class="text-danger" ng-message="email">Invalid email address.</p>
        </div>

        <input placeholder= "Password"
                type="password"
                name="password"
                id="password"
                ng-model="loginForm.password"
                class="form-control"
                required />
        <div ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted">
          <p class="text-danger" ng-message="required">Password is required.</p>
        </div>
      <button type="submit" class="btn btn-default">Sign in</button>
      <button ng-controller="landingController" ng-click="showRegistration" class="btn btn-default">Register</button>
  </form>
</div>
