	<button class="btn add-button col-sm-2" tooltip="New Venue" ng-click="addVenue()">Add Venue</button>

	<div class="row" >
		<div id="venueCreatePanel" class="col-md-10">
            <span style="color:#808266;font-size:30px;">EDIT VENUE</span><br><br>
			<form name="venueForm"
						enctype="multipart/form-data"
						ng-submit="updateVenue(venueForm.$valid)"
						novalidate>
						<div class="col-md-12">
							<div class="col-sm-12">
								<input  class="form-control"
												type="text"
												name="name"
												ng-model="venue.name"
												id="newVenueName"
												placeholder="Name"
												required
												minlength="3"
												maxlength="250"/>
								<div ng-messages="venueForm.name.$error" ng-if="venueForm.$submitted" class="text-danger">
									<p ng-message="required">Name is required.</p>
									<p ng-message="minlength">Name must be at least 3 characters</p>
								</div>
							</div>
							<div class="col-sm-12">
								<select class="form-control">
									<option selected> Category Type</option>
								</select>
							</div>
							<div class="col-sm-12">
								<span class="col-sm-5">
									Cover Photo:
								</span>
								<span class="col-sm-2">
									<img href="/no-image.jpg" />
								</span>
								<div filepicker api-key="AapVeFhkrSlOTwi51kt8Cz"
										pickerclass="btn btn-default"
										multiple="false" mimetype="image/jpg"
										callback="callBackToExecuteAfterUpload(file)"
										multiple=false>Add Photo</div>
							</div>
							<div class="col-sm-12">
								<input  class="form-control"
												type="text"
												name="address"
												ng-model="venue.address"
												id="newVenueAddress"
												placeholder="Street"
												required
												minlength="3"
												maxlength="250" />
								<div ng-messages="venueForm.address.$error" ng-if="venueForm.$submitted" class="text-danger">
									<p ng-message="required">Street address is required.</p>
									<p ng-message="minlength">Street address must be at least 3 characters</p>
								</div>
							</div>
							<div class="col-sm-12">
								<input  class="form-control"
												type="text"
												name="city"
												ng-model="venue.city"
												id="newVenueCity"
												placeholder="City"
												required
												minlength="3"
												maxlength="250"/>
								<div ng-messages="venueForm.city.$error" ng-if="venueForm.$submitted" class="text-danger">
									<p ng-message="required">City is required.</p>
									<p ng-message="minlength">City must be at least 3 characters</p>
								</div>
							</div>
							<div class="col-sm-6">
								<input  class="form-control col-sm-6"
												type="text"
												name="state"
												ng-model="venue.state"
												id="newVenueState"
												placeholder="State"
												required
												minlength="2"
												maxlength="2"/>
								<div ng-messages="venueForm.state.$error" ng-if="venueForm.$submitted" class="text-danger">
									<p ng-message="required">State is required.</p>
									<p ng-message="minlength">State must be 2 letter abbreviation</p>
								</div>
							</div>
							<div class="col-sm-6">
								<input  class="form-control"
												type="text"
												name="zip_code"
												ng-model="venue.zip_code"
												id="newVenueZipCode"
												placeholder="Zip Code"
												required
												minlength="5"
												maxlength="5"
												pattern="[0-9]*"
												venue-name-availability-validator="/venues.json"/>
								<div ng-messages="venueForm.zip_code.$error" ng-if="venueForm.$submitted" class="text-danger">
									<p ng-message="required">Zip code is required.</p>
									<p ng-message="minlength">Zip code must be 5 digits.</p>
									<p ng-message="pattern">Zip code can only contain numbers.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							Active?
							<input type="checkbox" ng-model="venue.active" ng-disabled="isAdmin()" />
						</div>
						<div class="actions col-md-12">
							<button type="submit" class="btn btn-primary" >
								<i class="fa fa-save"></i>
								Save
							</button>
						</div>
			</form>
		</div>
