<link rel="stylesheet" href="app/stylesheets/venue.css">
<div ng-switch="venueLoaded">
  <div ng-switch-when="false">
    <div ui-view="new.venue@venues.dashboard" class="col-sm-12 col-xs-12"></div>
  </div>
  <div ng-switch-when="true">
    <div ui-view="edit.venue@venues.dashboard" class="col-sm-12 col-xs-12"></div>
  </div>
</div>

<span class=" status">
        All
        <span class="statusbracket" >(</span>
         <span class="status"> {{venueList.length}}</span>
         <span class="statusbracket" > )</span>
      </span>
      <span class="status">
        Active
          <span class="statusbracket"> ( </span>
          <span class="status"> {{(venueList | filter:{active:true}).length || -1}} </span>
          <span class="statusbracket"> )</span>
      </span>

      <span class=" status">
        Disabled
        <span class="statusbracket"> (</span>
        <span class="status">  {{(venueList | filter:{active:false}).length || -1}} </span>
        <span class="statusbracket"> )</span>
      </span>


<div class="col-lg-12">
      

   <div style="height:350px;" id="style-2" class="table-responsive">
    <table style="width:100%;"class=" table-striped ">
      <thead>
        <tr>
          <td></td>
          <td>Active</td>
          <td>Details</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="venue in venueList" >
          <td class="col-lg-1">
            <img style="width:100px;" ng-src="{{venue.url}}" />
          </td>
          <td>
            <input type="checkbox"
                   ng-model="venue.active"
                   ng-disabled="hasPermission('admin')"/>
          </td>
          <td ng-click="showPromotionsList(venue.id)" >

              <b tooltip-placement="bottom" tooltip="{{venue.address}}  {{venue.city}}, {{venue.state}} {{venue.zip_code}}">{{venue.name}}</b>

          </div>
          </td>
          <td>
            <button ng-click="editVenue(venue)">Edit</button>
            <button ng-click="vm.confirmClicked = false; vm.cancelClicked = false"
                    cancel-button-type="default"
                    confirm-button-type="danger"
                    on-cancel="vm.cancelClicked = true"
                    on-confirm="deleteVenue(venue.id)"
                    placement="bottom"
                    cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;"
                    confirm-text="Yes &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;"
                    message="Are you really &lt;b&gt;sure&lt;/b&gt; you want to do this?"
                    title="Are you sure?"
                    mwl-confirm=""
                    class="btn btn-default ng-binding ng-isolate-scope">
                Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    </div>
