

 <div ng-switch="venueLoaded" ng-show="hasPermission(2)" class="col-sm-12">
  <div ng-switch-when="false">
    <div ui-view="new@venues.adminDashboard"></div>
  </div>
  <div ng-switch-when="true">
		<button style="max-width:100px;" ng-show="venueLoaded" class="btn add-button col-sm-12" ng-click="showCreatePanel()"><i style="font-size:40px;"class="fa fa-arrow-left"></i></button>
    <div ui-view="edit@venues.adminDashboard"></div>
  </div>
</div>
<div style="color:white;font-size:40px;font-Family:arial;font-Family: 'Josefin Sans', sans-serif;
  font-weight: 100;" class="col-lg-6 col-sm-12">
      Events
    
    </div>
<div class="col-sm-12">
    <span class="status">
      All
      <span class="statusbracket" >(</span>
       <span class="status"> {{venueList.length}}</span>
       <span class="statusbracket" > )</span>
    </span>
    <span class="status">
      Active
        <span class="statusbracket"> ( </span>
        <span class="status"> {{(venueList | filter:{active:true}).length || -1}} </span>
        <span class="statusbracket"> )</span>
    </span>
    <span class=" status">
      Disabled
      <span class="statusbracket"> (</span>
      <span class="status">  {{(venueList | filter:{active:false}).length || -1}} </span>
      <span class="statusbracket"> )</span>
      <button ng-click="vm.confirmClicked = false; vm.cancelClicked = false"
              cancel-button-type="default"
              confirm-button-type="danger"
              on-cancel="vm.cancelClicked = true"
              on-confirm="deleteVenues()"
              placement="bottom"
              cancel-text="No &lt;i class='glyphicon glyphicon-remove'&gt;&lt;/i&gt;"
              confirm-text="Yes &lt;i class='glyphicon glyphicon-ok'&gt;&lt;/i&gt;"
              message="Are you really &lt;b&gt;sure&lt;/b&gt; you want to do this?"
              title="Are you sure?"
              mwl-confirm=""
              class="btn btn-default ng-binding ng-isolate-scope">
          Delete
      </button>
    </span>
    <div class="col-lg-12">
      <div style="height:100%;" id="style-2" class="table-responsive">
        <table style="width:100%;" class="table table-striped">
          <thead style="color:White;">
            <tr>
              <td>
                <input type="checkbox"
                       ng-model="selectAllPromos"
                       ng-click="selectAll(selectAllPromos)" />
              </td>
              <td>Name</td>
              <td>Active</td>
              <td></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="venue in venueList|orderBy:'active':true" >
              <td>
                <input type="checkbox" ng-model="venue.selected" />
              </td>
              <td ng-click="showPromotionsList(venue.id)">
                  <img style="width:100px;" ng-src="{{venue.url !== null && venue.url !== undefined ? venue.url : 'images/venue_img_missing.jpg'}}" />
              </td>
              <td ng-click="showPromotionsList(venue.id)">
                <i ng-show="venue.active" class="success fa fa-check "></i>
                <i ng-show="!venue.active" class="fa fa-times-circle danger"></i>
              </td>
              <td ng-click="showPromotionsList(venue.id)">
                <b tooltip-placement="bottom" tooltip="{{venue.address}}  {{venue.city}}, {{venue.state}} {{venue.zip_code}}">{{venue.name}}</b>
              </td>
              <td>
                <button ng-show="hasPermission(3)" ng-click="editVenue(venue.id)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
