<div class="container-fluid">
	<div class="row" ng-show="showError">
		<div class="col-md-12 text-danger">
      <div class="alert alert-danger"
					 ng-repeat="error in errors">
				 {{error}}.
			</div>
    </div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img class="col-sm-12 col-xs-12 img-responsive"
					 ng-src="{{venue.url ? venue.url : 'images/venue_img_missing.jpg'}}" />
			<div class="col-sm-12 form-group text-center">
				<div filepicker api-key="AapVeFhkrSlOTwi51kt8Cz"
								pickerclass="btn btn-primary buzzbands-btn"
								multiple="false"
								mimetypes="'image/*'"
								callback="previewImage(file)">
							<i  style="margin-right:10px;"class="fa fa-camera"></i>
							Add Photo
				</div>
			</div>
		</div>
		<div id="venueCreatePanel" class="col-md-6" >
			<h1 class="font-white font-audiowide">Add New Venue</h1>

			<form name="venueForm"
						enctype="multipart/form-data"
						ng-init="venue = {}"
						novalidate>
				<div class="col-md-12">
					<div class="form-group">
						<input  class="form-control"
										type="text"
										name="name"
										ng-model="venue.name"
										id="newVenueName"
										placeholder="Name"
										required
										minlength="3"
										maxlength="250"/>
						<div ng-messages="venueForm.name.$error" ng-if="venueForm.$submitted" class="text-danger">
							<p ng-message="required">Name is required.</p>
							<p ng-message="minlength">Name must be at least 3 characters</p>
						</div>
					</div>
					<div class="form-group">
						<select class="form-control"
										ng-options="category for category in categories"
										ng-model="venue.category">
							<option value="" ng-selected>Select Category</option>
						</select>
					</div>

					<div class="form-group">
						<input  class="form-control"
										type="text"
										name="address"
										ng-model="venue.address"
										id="newVenueAddress"
										placeholder="Street"
										required
										minlength="3"
										maxlength="250" />
						<div ng-messages="venueForm.address.$error" ng-if="venueForm.$submitted" class="text-danger">
							<p ng-message="required">Street address is required.</p>
							<p ng-message="minlength">Street address must be at least 3 characters</p>
						</div>
					</div>
					<div class="form-group">
						<input  class="form-control"
										type="text"
										name="city"
										ng-model="venue.city"
										id="newVenueCity"
										placeholder="City"
										required
										minlength="3"
										maxlength="250"/>
						<div ng-messages="venueForm.city.$error" ng-if="venueForm.$submitted" class="text-danger">
							<p ng-message="required">City is required.</p>
							<p ng-message="minlength">City must be at least 3 characters</p>
						</div>
					</div>
					<div class="form-group">
						<input  class="form-control"
										type="text"
										name="state"
										ng-model="venue.state"
										id="newVenueState"
										placeholder="State"
										required
										minlength="2"
										maxlength="2"/>
						<div ng-messages="venueForm.state.$error" ng-if="venueForm.$submitted" class="text-danger">
							<p ng-message="required">State is required.</p>
							<p ng-message="minlength">State must be 2 letter abbreviation</p>
						</div>
					</div>
					<div class="form-group">
						<input  class="form-control"
										type="text"
										name="zip_code"
										ng-model="venue.zip_code"
										id="newVenueZipCode"
										placeholder="Zip Code"
										required
										minlength="5"
										maxlength="5"
										pattern="[0-9]*"
										venue-name-availability-validator="/venues.json"/>
						<div ng-messages="venueForm.zip_code.$error" ng-if="venueForm.$submitted" class="text-danger">
							<p ng-message="required">Zip code is required.</p>
							<p ng-message="minlength">Zip code must be 5 digits.</p>
							<p ng-message="pattern">Zip code can only contain numbers.</p>
						</div>
					</div>
					<div class="form-group">
						<input  class="form-control"
										type="text"
										name="capacity"
										ng-model="venue.capacity"
										id="newVenueCapacity"
										placeholder="Capacity"
										maxlength="8"
										pattern="[0-9]*">
						<div ng-messages="venueForm.capacity.$error" ng-if="venueForm.$submitted" class="text-danger">
							<p ng-message="pattern">Capacity must be a number.</p>
						</div>
					</div>
					<div class="form-group">
						<input  class="form-control"
										type="text"
										name="cover"
										ng-model="venue.cover"
										id="newVenueCover"
										placeholder="Cover"
										maxlength="5"
										pattern="[0-9]*"
										venue-name-availability-validator="/venues.json"/>
						<div ng-messages="venueForm.cover.$error" ng-if="venueForm.$submitted" class="text-danger">
							<p ng-message="pattern">Cover must be a number.</p>
						</div>
					</div>
				</div>

				<div class="actions col-md-12">
					<button type="submit" class="btn btn-primary buzzbands-btn buzzbands-pink-btn"
									ng-click="createVenue(venueForm.$valid)">
						<i class="fa fa-save"></i>
						Save
					</button>
					<button class="btn buzzbands-btn btn-danger"
				          ui-sref="adminDashboard.venues">
		        Cancel
				  </button>
				</div>
			</form>
		</div>

	</div>
</div>
