<div id="venueCreatePanel" class="col-sm-6" >

	<span style="color:#808266;font-size:30px;">Add New Event</span>
	<br /><br />
	<form name="venueForm"
				enctype="multipart/form-data"
				ng-init="venue = {}"
				ng-submit="createVenue(venueForm.$valid)"
				novalidate>
		<div class="col-md-12">
			<div class="col-sm-12">
				<input  class="form-control"
								type="text"
								name="name"
								ng-model="venue.name"
								id="newVenueName"
								placeholder="Name"
								required
								minlength="3"
								maxlength="250"/>
				<div ng-messages="venueForm.name.$error" ng-if="venueForm.$submitted" class="text-danger">
					<p ng-message="required">Name is required.</p>
					<p ng-message="minlength">Name must be at least 3 characters</p>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12">
				<select class="form-control"
								ng-options="category for category in categories"
								ng-model="venue.category">
					<option value="" ng-selected>Select Category</option>
				</select>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div  filepicker api-key="AapVeFhkrSlOTwi51kt8Cz"
					pickerclass="btn addphoto"
					multiple=false
					mimetype="image/*"
					callback="previewImage(file)">
						<i style="margin-right:10px;"class="fa fa-camera"></i>Add Photo
				</div>
			</div>
			<div class="col-sm-12 col-xs-12">
				<input  class="form-control"
								type="text"
								name="address"
								ng-model="venue.address"
								id="newVenueAddress"
								placeholder="Street"
								required
								minlength="3"
								maxlength="250" />
				<div ng-messages="venueForm.address.$error" ng-if="venueForm.$submitted" class="text-danger">
					<p ng-message="required">Street address is required.</p>
					<p ng-message="minlength">Street address must be at least 3 characters</p>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12">
				<input  class="form-control"
								type="text"
								name="city"
								ng-model="venue.city"
								id="newVenueCity"
								placeholder="City"
								required
								minlength="3"
								maxlength="250"/>
				<div ng-messages="venueForm.city.$error" ng-if="venueForm.$submitted" class="text-danger">
					<p ng-message="required">City is required.</p>
					<p ng-message="minlength">City must be at least 3 characters</p>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12">
				<input  class="form-control"
								type="text"
								name="state"
								ng-model="venue.state"
								id="newVenueState"
								placeholder="State"
								required
								minlength="2"
								maxlength="2"/>
				<div ng-messages="venueForm.state.$error" ng-if="venueForm.$submitted" class="text-danger">
					<p ng-message="required">State is required.</p>
					<p ng-message="minlength">State must be 2 letter abbreviation</p>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12">
				<input  class="form-control"
								type="text"
								name="zip_code"
								ng-model="venue.zip_code"
								id="newVenueZipCode"
								placeholder="Zip Code"
								required
								minlength="5"
								maxlength="5"
								pattern="[0-9]*"
								venue-name-availability-validator="/venues.json"/>
				<div ng-messages="venueForm.zip_code.$error" ng-if="venueForm.$submitted" class="text-danger">
					<p ng-message="required">Zip code is required.</p>
					<p ng-message="minlength">Zip code must be 5 digits.</p>
					<p ng-message="pattern">Zip code can only contain numbers.</p>
				</div>
			</div>
		</div>
		<div class="actions col-md-12">
			<br>

		<div style="text-align:center;" class="actions col-md-12">
		<br>	<button type="submit" class="saveButton btn btn-primary"
				<i class="fa fa-save"></i>
				Save
			</button>
		</div>
	</form>
</div>
</div>

<div class="col-sm-6 col-lg-6">
	<img style="width:100%; max-width:450px;" class="img-responsive" ng-src="{{venue.url ? venue.url : 'images/venue_img_missing.jpg'}}" />
</div>
