<link rel="stylesheet" href="app/stylesheets/navigation.css">

<div id="navLinkContainer" class="col-sm-12">
  DASHBOARDS
  <div class="link col-sm-12">
    <button class="col-sm-10" ng-click="mainView='analytics'" ng-class='{"navButtonActive":tog==1,"navButton":tog!=1}' ng-click='tog=1'>Overview</button>
  </div>
  <div class="link col-sm-12">
    <button class="navButton col-sm-10" ui-sref="mainView='venues" ng-class='{"navButtonActive":tog==2,"navButton":tog!=2}' ng-click='tog=2'>Venues</button>
  </div>
  <div class="link col-sm-12">
    <button class="navButton col-sm-10" ui-sref="promotions" ng-class='{"navButtonActive":tog==3,"navButton":tog!=3}' ng-click='tog=3'>Promotions</button>
  </div>
</div>
